        *{
            padding: 0;
            margin: 0;
        }
        body{
            background-color: rgb(175, 175, 240);
        }
        .main{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        table{
            border: 1px solid rgb(165, 156, 156);
            margin-top: 5em;
            padding: 0.5em;
        }
        th{
            padding: 0.5em 1.8em 0.5em 1.8em;
            background-color: rgb(219, 212, 212);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 15px;
        }

        td input{
            border: none;
            padding: 0.5em 1.8em 0.5em 1.8em;
            background-color: rgb(240, 235, 235);
            text-align: center;
        }

        .btn_container{
            display: flex;
            justify-content: space-between;
            width: 50%;
        }
        button{
           margin-top: 1em;
           padding: 0.5em 1.8em 0.5em 1.8em;
           color: white;
           background-color: rgb(12, 68, 12);
           border: none;
        }
        button:hover{
            background-color: rgb(62, 117, 62);
        }
        .gradeboard{
            background-color: rgb(194, 190, 190);
            outline: none;
        }
        .add-btn{
            position: relative;
            right:-0.8em;
            box-shadow: 3px 3px 5px rgb(121, 120, 120);
            cursor: pointer;
            font-size: 16px;
            font-family: sans-serif;
        }
        .result-btn{
            position: relative;
            left: -0.5em;
            box-shadow: 3px 3px 5px rgb(121, 120, 120);
            cursor: pointer;
            font-size: 16px;
            font-family: sans-serif;
            background-color: red;
            font-weight: bolder;
        }

        span{
            position: relative;
            padding: 0.5em 1.8em 0.5em 1.8em;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 16px;
        }